/*==========================================
CLEAN ENERGY COLLECTIVE, LLC
_vars.scss Version 1.0
==========================================*/

//FONT IMPORTS

@charset "UTF-8";

@font-face {
    font-family: 'AvenirLTStdLight';
    src: url('../fonts/AvenirLTStdLight.eot');
    src: url('../fonts/AvenirLTStdLight.eot') format('embedded-opentype'), url('../fonts/AvenirLTStdLight.woff2') format('woff2'), url('../fonts/AvenirLTStdLight.woff') format('woff'), url('../fonts/AvenirLTStdLight.ttf') format('truetype'), url('../fonts/AvenirLTStdLight.svg#AvenirLTStdLight') format('svg'); }

@font-face {
    font-family: 'AvenirLTStdMedium';
    src: url('../fonts/AvenirLTStdMedium.eot');
    src: url('../fonts/AvenirLTStdMedium.eot') format('embedded-opentype'), url('../fonts/AvenirLTStdMedium.woff2') format('woff2'), url('../fonts/AvenirLTStdMedium.woff') format('woff'), url('../fonts/AvenirLTStdMedium.ttf') format('truetype'), url('../fonts/AvenirLTStdMedium.svg#AvenirLTStdMedium') format('svg'); }

@font-face {
    font-family: 'AvenirLTStdBook';
    src: url('../fonts/AvenirLTStdBook.eot');
    src: url('../fonts/AvenirLTStdBook.eot') format('embedded-opentype'), url('../fonts/AvenirLTStdBook.woff2') format('woff2'), url('../fonts/AvenirLTStdBook.woff') format('woff'), url('../fonts/AvenirLTStdBook.ttf') format('truetype'), url('../fonts/AvenirLTStdBook.svg#AvenirLTStdBook') format('svg'); }

@font-face {
    font-family: 'AvenirLTStdBlack';
    src: url('../../fonts/AvenirLTStdBlack.eot');
    src: url('../fonts/AvenirLTStdBlack.eot') format('embedded-opentype'), url('../fonts/AvenirLTStdBlack.woff2') format('woff2'), url('../fonts/AvenirLTStdBlack.woff') format('woff'), url('../fonts/AvenirLTStdBlack.ttf') format('truetype'), url('../fonts/AvenirLTStdBlack.svg#AvenirLTStdBlack') format('svg'); }

//FONT DEFAULTS

// font mixins

@mixin light-font-stack() {
    font-family:'AvenirLTStdLight', 'Avenir', 'Helvetica', 'Arial', sans-serif;
    font-weight: 100; }

@mixin main-font-stack() {
    font-family:'AvenirLTStdBook', 'Avenir', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300; }

@mixin medium-font-stack() {
    font-family:'AvenirLTStdMedium', 'Avenir', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500; }

@mixin heavy-font-stack() {
    font-family:'AvenirLTStdBlack', 'Avenir', 'Helvetica', 'Arial', sans-serif;
    font-weight: 900; }

//body default font stack
body,
html {
    @include main-font-stack();
    font-size:14px;
    text-rendering: optimizeLegibility !important; // font render fix
    -webkit-font-smoothing: antialiased !important; // font render fix
    -moz-osx-font-smoothing: grayscale;  }  // font render fix

//header default font stack
h1, h2, h3, h4, h5{  
    @include main-font-stack(); }

//font size defaults
h1{
    font-size: 2em;
} h2{
    font-size: 1.7em;
} h3{
    font-size: 1.5em;
} h4{
    font-size: 1.1em;
} h5{
    font-size: .9em; }

p{
    @include main-font-stack();
    font-size:1em; }

sup{
    font-size:.4em;
    position:relative;
    top:-15px;
}

//font size modifiers
.light-font{
    @include light-font-stack(); }

.medium-font{
    @include medium-font-stack(); }

.bold-font{
    @include heavy-font-stack(); }

//COLOR DEFAULTS

$white:                 #FFFFFF;
$offwhite:              #fafafa;
$grey:                  #7f7f7f;
$body-text:             #4d4d4d; //main body copy color
$md-grey:               #333333;
$dk-grey:               #1f1f1f;
$black:                 #000000;
$lt-green-alt:          #9dcd5c; //use for hovers
$lt-green:              #97cd4e; //brand green
$dk-green:              #8ec041;


