#hero {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: black;
    background: url(../img/hero-new.jpg) no-repeat center center;
    background-size: cover;
    letter-spacing: 1px;
}

.hero-message {
    width: 100%;
    color: white;
    font-weight: 100 !important;
    letter-spacing: 1.5px;
}

.hero-message h1 {
    font-weight: 100 !important;
}

.navbar-default {
    background: rgba(0, 0, 0, 0.0);
    border: none;
}

a.navbar-brand {
    padding-top: 20px;
}

a.navbar-brand img {
    height: 72px;
    width: auto;
}

@media (max-width: 768px) {
    a.navbar-brand {
        padding-top: 10px;
    }
    a.navbar-brand img {
        width: auto;
        height: 50px;
    }
}

.navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:visited {
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:visited {
    color: white;
}

.navbar-default .navbar-nav>li>a:visited {
    color: #333;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: white !important;
    background: rgba(255, 255, 255, .2);
}

.hero-message {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dropdown-menu {
    background: rgba(0, 0, 01);
    border-radius: 0;
    border: none;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #56b965 !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.navbar-nav {
    margin: 0 -15px;
}

.navbar-default .navbar-toggle {
    border-color: rgba(255, 255, 255, .4);
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, .2);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, .6);
}

.navbar-nav>li>.dropdown-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    top: 80px;
}

@media (max-width: 768px) {
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        background-color: white;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.41);
    }
    .navbar-default .navbar-nav>li>a,
    .navbar-default .navbar-nav>li>a:visited,
    .navbar-default .navbar-nav>li>a:active {
        padding: 5px 5px !important;
        color: black !important;
    }
    .navbar-default .navbar-nav>li>a:hover {
        color: #2b2b2b !important;
    }
    .navbar-brand {
        padding-top: 10px;
    }
    .navbar-nav {
        margin: 20px -5px;
    }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: white;
}